td a img {
   width: 100%;;
   height: auto;
}

th, td {
  /* border: 1px solid green; */
  padding: 3px;
  text-align: center;
  border-spacing: 5px;
  width: 100px;
  height: 50px;
  
}

  img {
      width: 100%;
      height: auto;
  }

  body {
      max-width: 500px;
      margin: auto;
      
  }

  h1 {
      text-align: center;
  }

  a {
      color: orangered
  }

  p {
    margin: 50px;
  }
  td img {
      height:100px;
  }

  table {
    border-radius: 15px;
    border-collapse: collapse;
  }

  .font-weight{
    font-size: 16px;
    font-weight: 400;
  }

  .hide{
    visibility: hidden;
  }

  tr {
    border: 1px dotted red;
  }


  /* CSS EXERCISES

        11) Give a maximum width to the body and center it in the page
        12) Set every h1 to be centered
        13) Change the color of each link in the page
        14) Create a class with a border
        15) Set table to have rounded corners
        16) Add margin between every paragraph
        17) Create a class which change font size and boldness
        18) Create a class to hide a content
        19) Add a green border to each td
        20) Add a dotted red border to each tr (note: tr does not accept a border property ;-) ) */